In [152]:
import pandas as pd
import requests
import urllib.request
from bs4 import BeautifulSoup
import re

import warnings
warnings.filterwarnings('ignore')

In [153]:
wiki_url = 'https://en.wikipedia.org/wiki/Drake_discography'
html = urllib.request.urlopen(wiki_url)
soup = BeautifulSoup(html, 'html.parser')

In [154]:
html_pointer = soup.find('th', class_='navbox-group')

In [155]:
html_pointer

In [156]:
tables = soup.find_all('table', class_ = 'wikitable plainrowheaders')

In [157]:
def process_num(num):
    return float(re.sub(r'[^\w\s.]','',num))

In [158]:
rows = tables[0].find_all('tr')

In [159]:
Titles = []
CAN = []
AUS = []
FRA = []
IRE = []
NZ = []
SWE = []
UK = []
US = []
US_RB = []
US_RAP = []
Sales = []
Cert = []
for row in rows:
    cells = row.find_all('td')

    if len(cells) > 1:
        title = row.find('th')
        title = title.find('a')['title']
        Titles.append(title)
        CAN.append(cells[1].text)
        AUS.append(cells[2].text)
        FRA.append(cells[3].text)
        IRE.append(cells[4].text)
        NZ.append(cells[5].text)
        SWE.append(cells[6].text)
        UK.append(cells[7].text)
        US.append(cells[8].text)
        US_RB.append(cells[9].text)
        US_RAP.append(cells[10].text)

In [160]:
Titles

['Thank Me Later',
 'Take Care (album)',
 'Nothing Was the Same',
 'Views (album)',
 'Scorpion (Drake album)',
 'Certified Lover Boy',
 'Honestly, Nevermind']

In [161]:
df = pd.DataFrame(index = Titles)
df = df.reset_index()
df.rename({'index': 'title'}, axis = 1, inplace=True)

In [162]:
US_RAP

['1\n', '1\n', '1\n', '1\n', '1\n', '1\n', '1\n']

In [163]:
country_names = ['can', 'aus', 'fra', 'ire', 'nz', 'swe', 'uk', 'us', 'us_rb', 'us_rap']
i = 0
for country in [CAN, AUS, FRA, IRE, NZ, SWE, UK, US, US_RB, US_RAP]:
    df[country_names[i]] = country
    i += 1

In [164]:
df

                    title can aus  fra ire  nz swe  uk us us_rb us_rap
0          Thank Me Later   1  81  117  32  35   —  15  1     1    1\n
1       Take Care (album)   1  15   32  30  19   —   5  1     1    1\n
2    Nothing Was the Same   1   2   11   4   4  10   2  1     1    1\n
3           Views (album)   1   1    4   2   1   2   1  1     1    1\n
4  Scorpion (Drake album)   1   1    3   1   1   1   1  1     1    1\n
5     Certified Lover Boy   1   1    3   1   1   1   1  1     1    1\n
6     Honestly, Nevermind   1   2    6   2   2   2   2  1     1    1\n